.bug-card {
   background-color: rgb(231, 231, 192);
   -webkit-box-shadow: 2px 2px 3px 2px rgba(238, 222, 222, 0.68); 
   box-shadow: 2px 2px 3px 2px rgba(238, 222, 222, 0.68);
text-align: center;
margin: 10px;
min-width: 275px;
min-height: 200px;
border-radius: 8px;
text-shadow: 1px 1px black;
}

.bug-card:hover {
    transition: all 0.3s;
    transform: scale(1.05);
}
