.bug-create {
width: 60vw;
background-color: rgb(51, 56, 56);
display: flex;
flex-wrap: wrap;
margin: auto;
border-radius: 8px;
position: absolute;
z-index: 10;

}

.bug-create h1 {
    min-width: 100%;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px groove white;
}

.bug-create form {
    min-width: 80%;
    display: grid;
    grid-template-columns: 22% 70%;
    column-gap: 8%;
    row-gap: 20px;
}

.bug-create label {
text-align: right;
font-size: 1.5rem;

}
.bug-create input, textarea, select {
    border-radius: 5px;
    border: none;

}

.bug-create button {
    grid-column: 2;
    margin: auto;
    margin-bottom: 5%;
}

.bug-create .close-button {
    position: absolute;
    right: 0;
    top:0;
    margin: 10px; 
    height: 4.5vh;

    

}